.vscode/
.venv/
env/
__pycache__/
*.pyc
node_modules/
dist/
build/
.DS_Store
.env
.idea/
*.log
coverage
*.sqlite3
*.db
*.iml
*.class
*.jar
*.war
*.ear
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.exe
sample
bytecourse-service